@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Itim", cursive;
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/025/887/original/back.jpg?1643433414);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  font-size: 34px;
  font-weight: 900;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: #272044;
}

img {
  display: block;
  margin: 0 auto;
}

form {
  font-family: "Roboto Mono", monospace;
  position: relative;
  top: 55px;
}

input {
  float: right;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  display: block;
  margin: 0 auto;
  background: rgb(97, 62, 194);
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  font-weight: lighter;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

.weatherapp-wrapper {
  margin: 30px auto;
  max-width: 800px;
}

.weatherapp {
  border: 3px solid purple;
  border-radius: 20px;
  padding: 20px;
  margin: 30px auto;
  max-width: 800px;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.current {
  border: 2px solid rgb(97, 62, 194);
  border-radius: 5px;
  max-width: 350px;
  margin: auto;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(242, 235, 243) 0%,
    rgb(234, 241, 249) 90.1%
  );
}

.info {
  border: 2px solid rgb(97, 62, 194);
  border-radius: 5px;
  max-width: 350px;
  margin: 0 0 auto;
  margin-right: auto;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(242, 235, 243) 0%,
    rgb(234, 241, 249) 90.1%
  );
}

.current-text {
  text-align: center;
}

.forecast {
  text-align: center;
}

.temperature {
  font-size: 40px;
  font-weight: bold;
}

.description {
  text-transform: capitalize;
}

.units {
  position: relative;
  top: -15px;
}

.active {
  color: black;
  text-decoration: none;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  cursor: default;
}

.btn {
  background: rgb(97, 62, 194);
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  font-weight: lighter;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  position: relative;
  left: 25px;
}

.col-3 {
  text-align: center;
}

.forecast-temperature-min {
  font-size: 14px;
  opacity: 0.5;
}

.forecast-date {
  text-align: center;
}
